@import "tailwindcss";

.preserve-3d {
  transform-style: preserve-3d;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

body,
html,
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none !important;
  scrollbar-color: transparent transparent !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reverse-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.animate-spin-slow {
  animation: spin-slow 15s linear infinite;
}
.animate-reverse-spin {
  animation: reverse-spin 12s linear infinite;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
